/* Resets and globals */

* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background: #f5f6f8;
}

.App {
  width: 83%;
  margin: 0 auto;
}

.caption {
  font-weight: 300;
  font-size: 14px;
}

a:focus {
  color: #2650f8;
  outline: none;
}

/* App Styles */

.main-container {
  display: flex;
}

.navbar-container {
  width: 15%;
  border-right: 1px #e1e2e4 solid;
}

.content-container {
  width: 85%;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 85px;
  padding: 10px 20px 30px 20px;
  background: #fafafa;
  height: 650px;
}
