/* Resets and globals */

* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background: #f5f6f8;
}

.App {
  width: 100%;
  margin: 0 auto;
}

.caption {
  font-weight: 300;
  font-size: 14px;
}

a:focus {
  color: #2650f8;
  outline: none;
}

.button {
  background: #42b029;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

/* App Styles */

.main-container {
  display: flex;
}

.navbar-container {
  width: 15%;
}

.content-container {
  width: 85%;
  min-width: 1184px;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 85px;
  padding: 10px 20px 30px 20px;
  background: #fafafa;
  height: 650px;
}

@media only screen and (max-width: 1579px) {
  .content-container {
    min-width: 1000px;
  }
}

@media only screen and (max-width: 1360px) {
  .App {
    width: 100%;
  }

  .content {
    margin: 45px 85px 85px 85px;
  }
}
